body{
    background-color: rgb(0, 182, 121);
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    color: rgb(255, 0, 0);
   
     h1{
        color: rgb(255, 0, 0);
        text-shadow: rgb(82, 156, 185) 2.0px 2.0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 2.5rem;
        margin:8px;
            }
    p{
        color: rgb(10, 230, 193);
        text-shadow:  rgba(0, 183, 255, 0.979) 1.0px 1.0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 3.0rem;
    }
    img {
    text-align: center;
    width: 60%;
    margin: auto;
    display: block;
    padding: 20px;
    border-radius: 10%;
}
.video{
    margin: auto;
    text-align: center;}
    h2{
        color: rgb(255, 0, 0);
        text-shadow: rgb(82, 156, 185) 2.0px 2.0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 2.5rem;
        margin:8px;
    }
    p{
        color: rgb(10, 230, 193);
        text-shadow:  rgba(0, 183, 255, 0.979) 1.0px 1.0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 3.0rem;
    }
